<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="/tmp/log/internal-nlog.txt">
  <targets>
    <target xsi:type="File" 
            name="allfile" 
            fileName="${basedir}/APP_Data/log/all-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}|${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" 
            name="ownFile-web" 
            fileName="${basedir}/APP_Data/log/own-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}|${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    <target xsi:type="ColoredConsole" 
            name="console"
            layout="${longdate}|${uppercase:${level}}|${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}|${message} ${exception:format=tostring} ${newline}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>