@{
    ViewData["Title"] = "Chat：ルーム";
}

<div id="chat-title" style="padding-top:1vh; padding-bottom:1vh;">
    <h2>チャット</h2>
</div>

<input id="hd-name" name="hname" type="hidden" value="@ViewBag.Name" />
<input id="hd-name-color" name="hnamecolor" type="hidden" value="@ViewBag.NameColor" />
<input id="hd-show-log-cont" name="hshowlogcount" type="hidden" value="@ViewBag.ShowLogCount" />

<div id="chat" class="chat">
    @await Html.PartialAsync("~/Views/Shared/ChatLogList.cshtml")

    <div id="chat-input" class="fixed-bottom" style="background-color: white;">
        @await Html.PartialAsync("~/Views/Shared/ChatInputPanel.cshtml")
    </div>
</div>

<style>
    footer {
        padding-bottom: calc(0.5em * 2 + 2rem * 2 + 0.375rem * 2 + 0.5em + 0.5rem);
    }
</style>

