@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form id="chat-form" name="chat-form">
    <div class="row">
        <div class="col-2" style="padding-top:0.5em;padding-bottom:0.5em;">
            <label for="name" class="form-label" style=" margin-top:auto; margin-bottom:auto;">名前</label>
        </div>
        <div class="col-5" style="padding-top:0.5em;padding-bottom:0.5em;">
            <input name="name" id="tb-name" class="form-control" type="text" style="width:100%; margin-top:auto; margin-bottom:auto;" />
        </div>
        <div id="div-chat-name" class="col-3" style="padding-top:0.5em;padding-bottom:0.5em;">
            <select id="ddl-chat-name" class="form-control">
                <option></option>
                <option>黒</option>
            </select>
        </div>
        <div class="col-2" style="padding-top:0.5em;padding-bottom:0.5em;">
            <input name="text" id="bt-post" class="btn btn-secondary" type="button" value="送信" />
        </div>
    </div>
    <div class="row">
        <textarea id="ta-text" class="form-control" style="width:100%"></textarea>
    </div>
</form>

<div id="div-chat-loading" class="position-absolute top-0 start-0 w-100 h-100 d-none">
    <div class="text-center position-absolute top-50 start-50 w-100 translate-middle">
        <div class="spinner-border text-light" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>

<style>
    #div-chat-loading {
        background: rgba(0, 0, 0, .5);
        z-index: 10000;
    }
</style>

<script>
    // ページ読み込み時実行
    $(function () {
        getChatNameColor();
    });

    // チャット投稿
    $('#bt-post').on('click', function () {
        console.log("[Chat:Post by button]Start event.");
        var nameString = $('#tb-name').val();
        var messageString = $('#ta-text').val();
        var nameColorId = $('#ddl-chat-name').val();
        var showChatCount = $('#hd-show-log-cont').val();

        // ログインセッション確認
        var loginSession = checkLoginSession();
        if (!loginSession) {
            console.log("[Chat:Post by button]End event.");
            window.location.href = "@Url.Action("Index", "Lobby")";
            return true;
        }

        if (nameString !== "" && messageString !== "") {
            console.log("[Chat:Post by button]Post chat message.");
            show_chat_loading();
            $.post(
                "@Url.Action("Post", "Chat")",
                "name=" + nameString + "&message=" + messageString + "&nameColor=" + nameColorId + "&messageColor=1"
            ).done(
                function (data, textStatus, jqXHR) {
                    getChatLog(showChatCount);
                    $('#ta-text').val("");
                    hide_chat_loading();
                    console.log("[Chat:Post by button]Post Success.");
                }
            ).fail(
                function (jqXHR, textStatus, errorThrown) {
                    getChatLog(showChatCount);
                    hide_chat_loading();
                    console.log("[Chat:Post by button]Post Failed.");
                }
            );
        } else {
            getChatLog(showChatCount);
        }

        console.log("[Chat:Post by button]End event.");
    });

    // インプットパネル名前（色）リスト設定処理
    function getChatNameColor() {
        $.get("@Url.Action("GetAll", "ChatNameColorMaster")",
            function (data) {
                $('#ddl-chat-name').remove();
                $('#div-chat-name').append(
                    '<select id="ddl-chat-name" class="form-control">' +
                    '</select>'
                );
                $.each(data, function (key, value) {
                    $('#ddl-chat-name').append(
                        '<option value="' + value.id + '">' +
                        value.name +
                        '</option>'
                    );
                    setSessionDataToCIP();
                });
                console.log("通信成功");
                console.log(data);
            }
        );
    }

    // インプットパネルセッションデータ設定処理
    function setSessionDataToCIP() {
        var nameString = $('#hd-name').val();
        var nameColorId = $('#hd-name-color').val();
        var tbName = $('#tb-name');
        var ddlNameColor = $('#ddl-chat-name');
        tbName.val(nameString);
        ddlNameColor.val(parseInt(nameColorId));
    }

    //ローディング表示
    function show_chat_loading() {
        $('#div-chat-loading').removeClass('d-none');
    }

    //ローディング非表示
    function hide_chat_loading() {
        $('#div-chat-loading').addClass('d-none');
    }

    // セッション確認処理
    function checkLoginSession() {
        var returnVal = false;
        var nameString = $('#hd-name').val();
        console.log("[Chat:Post by checkLoginSession]Start function.");
        $.ajax({
            type: 'POST',
            url: "@Url.Action("CheckLoginSession", "Auth")",
            data: "userName=" + nameString,
            async: false,
            cache: false,
            dataType: 'json'
        }).done(
            function (data, textStatus, jqXHR) {
                console.log("[Chat:Post by checkLoginSession]Post Success.");
                console.log("[Chat:Post by checkLoginSession]Data:" + data.result);
                if (data.result === "ONLINE") {
                    returnVal = true;
                }else{
                    returnVal = false;
                }
            }
        ).fail(
            function (jqXHR, textStatus, errorThrown) {
                console.log("[Chat:Post by checkLoginSession]Post Failed.");
            }
        );
        console.log("[Chat:Post by checkLoginSession]End function.");
        return returnVal;
    }

</script>
